<section id="home" class="m1-hero">
  <div class="m1-overlay"></div>
  <div class="mw-container">
    <div class="mw-home">
      <div class="mw-home-text">
        <h1 class="mw-text-color-dark mw-mb-3">
          Hi, I'm <span class="mw-text-primary">Michael</span>
        </h1>
        <h2 class="mw-text-color-dark mw-mb-4">Fullstack Developer</h2>
        <p class="mw-text-color-dark mw-text-lg">
          Over a decade of experience in software development & consulting -
          creating clean, maintainable fullstack solutions with Java, Spring
          Boot & preferably Angular
        </p>
      </div>
    </div>
  </div>
</section>
