<section id="skills">
  <h2 class="mw-section-title">Skills & Experience</h2>

  <div class="mw-grid-4">
    {% for element in skills %}
    <div class="mw-card mw-card-content">
      <div class="mw-card-body">
        <h3 class="mw-card-title">{{ element.title }}</h3>

        {% for skill in element.skills %}
        <div class="mw-progress-container">
          <div class="mw-progress-barinfo">
            <span class="mw-progress-label">{{ skill.name }}</span>
            <span class="mw-progress-value">{{ skill.proficiency }}</span>
          </div>
          <div class="mw-progress-bar">
            <div
              class="mw-progress-fill"
              data-value="{{ skill.barValue }}"
            ></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div class="mw-card mw-card-content">
      <div class="mw-card-body">
        <h3 class="mw-card-title">OS</h3>
        <p class="mw-card-subtitle">
          I primarily develop on macOS for its great developer experience, but
          prefer Linux (Ubuntu/Debian) for server and container workloads.
        </p>
        <p></p>
        <div class="mw-tags mw-tags-secondary mw-tags-sm">
          <span class="mw-tags-item">macOS</span>
          <span class="mw-tags-item">Linux</span>
        </div>
      </div>
    </div>

    <div class="mw-card mw-card-content">
      <div class="mw-card-body">
        <h3 class="mw-card-title">Stuff</h3>
        <p class="mw-card-subtitle">
          Other stuff with which I have also been able to gain experience here
          and there
        </p>
        <p></p>
        <div class="mw-tags mw-tags-secondary mw-tags-sm">
          {% for element in stuff %}
          <span class="mw-tags-item">{{ element.name }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
