---
import Base from '@/layouts/BaseLayout.astro';
import { MAVERICK_WAVE_VERSION, PAGE_TITLE } from '@/util/constants';
---

<Base pageTitle={PAGE_TITLE} maverickWaveVersion={MAVERICK_WAVE_VERSION}>
  <div class="mw-content" style="height: 70dvh;">
    <section>
      <div class="mw-coming-soon mw-px-5 mw-mx-6">
        <div class="mw-coming-soon-text">Page not found</div>
      </div>
    </section>
  </div>
</Base>
