---
import { stacks } from '@/data/technology';
import { AGE } from '@/util/constants';
---

<div class="mw-container">
  <h2 class="mw-section-title">About Me</h2>

  <div class="mw-grid-2 mw-my-2 mw-items-center">
    <div>
      <div class="mw-avatar-container mw-d-flex mw-justify-center mw-my-2">
        <div class="mw-avatar mw-avatar-primary mw-avatar-xl">
          <img src="/images/profile_photo.png" alt="Michael's profile photo" />
        </div>
      </div>
      <div class="mw-text-center">
        <h3 class="mw-mb-1">Michael Wellner</h3>
        <p class="mw-text-muted">- Fullstack Developer -</p>
        <p></p>
        <div
          class="mw-d-flex mw-flex-wrap mw-items-center mw-justify-center mw-gap-2"
        >
          <span class="mw-info mw-info-secondary mw-info-sm">{AGE} years</span>
          <span class="mw-info mw-info-secondary mw-info-sm">Stuttgart</span>
          <span class="mw-info mw-info-secondary mw-info-sm">B.Eng.</span>
        </div>
      </div>
    </div>

    <div class="mw-grid-stack mw-gap-1">
      <p>
        As a Fullstack Developer based in Stuttgart, Germany, and now in my late
        30s, my expertise lies in creating robust Java / Spring Boot backends,
        managing data via MySQL / Postgres and intuitive Angular frontends. I
        hold a Bachelor's degree in Computer Science and bring over a decade of
        experience focused on clean code, domain-driven design, and agile
        methodologies that lead to maintainable, scalable solutions.
        Additionally, I thrive in collaborative environments, utilizing standard
        industry tools like Git, IntelliJ, Jenkins, etc.
      </p>
      <p>
        Throughout my career, I've specialized in developing microservice
        architectures that handle complex business requirements. I enjoy solving
        challenging technical problems - but always with the goal of delivering
        real, long-term value. To keep my focus sharp and minimize
        context-switching, I often work with Pomodoro technique.
      </p>
      <p>
        I believe in continuous learning, sharing knowledge, and mentoring the
        next generation of developers.
      </p>
      <blockquote class="mw-mt-3">
        In the complex world of code, simplicity is the ultimate sophistication.
      </blockquote>
    </div>
  </div>

  <div class="mw-grid-5 mw-mt-5">
    {
      stacks.map(element => (
        <div class="mw-card mw-card-stack">
          <div class="mw-card-stack-header">
            <div class="mw-card-stack-icon">
              <i class={element.icon} />
            </div>
            <h5 class="mw-card-stack-title">{element.name}</h5>
          </div>
          <div class="mw-card-stack-body">
            <p class="mw-card-stack-text">{element.text}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
