---

---

<div class="mw-container">
  <div class="mw-hero">
    <div class="mw-home mw-home-content-fade">
      <div class="mw-home-text">
        <h1 class="mw-mb-2">
          Hi, I'm <span class="mw-text-primary">Michael</span>
        </h1>
        <h2 class="mw-mb-5">Fullstack Developer</h2>
        <p class="mw-text-md">
          Over a decade of experience in software development & consulting -
          creating clean, maintainable fullstack solutions with Spring Boot &
          Angular
        </p>
      </div>
    </div>
  </div>
</div>
