---
layout: base.njk
title: m1well
---

<section id="home">{% include "home.njk" %}</section>
<section id="about">{% include "about.njk" %}</section>
<section id="journey">{% include "journey.njk" %}</section>
<section id="skills">{% include "skills.njk" %}</section>
<section id="projects">{% include "projects.njk" %}</section>
<section id="blog">{% include "blog.njk" %}</section>
